# Etat genere par spicetify dans ~/.config/spicetify. Ces fichiers contiennent
# des chemins absolus propres a la machine (spotify_path, prefs_path) : seul le
# theme graphite est versionne.
config/spicetify/.config/spicetify/config-xpui.ini
config/spicetify/.config/spicetify/Backup/
config/spicetify/.config/spicetify/CustomApps/
config/spicetify/.config/spicetify/Extensions/
