[SddmGreeterTheme]
Name=tbe
Description=Sugar Candy, recoloured graphite and pointed at the rice wallpaper
Author=Marian Arlt
Copyright=(c) 2018-2020, Marian Arlt
License=GPLv3
Website=https://github.com/MarianArlt/sddm-sugar-candy
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Email=
Screenshot=
TranslationsDirectory=
